* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
    padding: 10px;
    position: relative;
    font-size: 20px;
}

nav ul li {
    padding: 5px;
    margin: 2px;
    text-align: center;
}

nav li:hover,
nav li:active {
    color: white;
    border-radius: 4px;
    transform: scale(1.1);
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
a{
    color: navy;
    text-decoration: none;
    align-items: center;
}
p {
    padding: 10px;
    margin: 10px;
    text-align: left;
    font-size: 20px;
    font-weight:500;
}
h2 {
    padding: 10px;
    margin: 10px;
    text-align: left;
    font-size: 25px;
    font-weight:bold;
    color: navy;
}
h3 {
    padding: 10px;
    margin: 10px;
    text-align: left;
    font-size: 30px;
    font-weight:bold;
    color: navy;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;
    padding: 10px;
    font-size: 10px;
}
footer a {
    color: grey;
    text-decoration: none;
    font-size: 12px;
    background-color:skyblue;
    padding: 5px;
    border-radius: 4px;
    margin: 5px;
    opacity: 80%;}
body {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color:dodgerblue;
    text-shadow: 5px 5px 5px #000000;
    font-size: 3em;
    text-align: center; 
    background-image: url(./images/lab-safety--art.jpeg);
    background-size:550px;
    padding: 100px
}

/* Home Page */


/* SDS Page */
#sds {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.image-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: inline-block;
    position: relative; /* Needed for positioning the tooltip */
    height: auto;
    transition: transform 0.2s; /* Add a smooth hover effect */
}

.image-button img {
    height: auto;
}
.image-button:hover img {
    transform: scale(1.2); /* Enlarge the image on hover */
}

/* Adjust tooltip position for small screens */
@media screen and (max-width: 600px) {
    .image-button:hover::after {
        left: 10%;
        transform: translateX(0);
    }
}


/* Contact page */
#contact button:hover {
    background-color: cornflowerblue;
    color: white;
}

button {
    padding: 10px;
    margin: 20px;
    border: none;
    background-color: navy;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    width: 80px;
}




