* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4px;
}


nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
    padding: 10px;
    position: relative;
    font-size: 20px;
}

nav ul li {
    padding: 5px;
    margin: 2px;
    text-align: center;
}

nav li:hover,
nav li:active {
    color: white;
    border-radius: 4px;
    transform: scale(1.1);
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

p {
    padding: 10px;
    margin: 10px;
    text-align: left;
    font-size: 20px;
    font-weight:500;
}

h3 {
    padding: 10px;
    margin: 10px;
    text-align: left;
    font-size: 30px;
    font-weight:bold;
    color: navy;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;
    padding: 10px;
    font-size: 10px;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: navy;
    font-size: 3em;
    text-align: center;
}

/* SDS Page */
#sds {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.image-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: inline-block;
    position: relative; /* Needed for positioning the tooltip */
    height: auto;
    transition: transform 0.2s; /* Add a smooth hover effect */
}

.image-button img {
    height: auto;
}
.image-button:hover img {
    transform: scale(1.2); /* Enlarge the image on hover */
}

/* .image-button:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
    max-width: 300px; 
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.9;
    z-index: 1;
} */

/* Adjust tooltip position for small screens */
@media screen and (max-width: 600px) {
    .image-button:hover::after {
        left: 10%;
        transform: translateX(0);
    }
}


/* Contact page */
#contact button:hover {
    background-color: cornflowerblue;
    color: white;
}

button {
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: navy;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#containBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
