* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4px;
}

html {
    scroll-behavior: smooth;
}
body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./images/labgif.gif); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
    padding: 10px;
    position: relative;
    font-size: 20px;
}

nav ul li {
    padding: 5px;
    margin: 2px;
    text-align: center;
    color: white;
    
}

nav li:hover,
nav li:active {
    background-color: cornflowerblue;
    border-radius: 4px;
    transform: scale(1.1);
}
a{
    color: navy;
    text-decoration: none;
    align-items: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    
}

p {
    padding: 50px;
    margin: 10px;
    text-align: left;
    font-size: 26px;
    font-weight:400;
    color:whitesmoke;   
    text-shadow: 3px 3px 3px #000000;
}

/* Home */

#lab-art {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: auto;
    padding: 20px;
    
}

h1 {
    color:dodgerblue;
    text-shadow: 5px 5px 5px #000000;
    font-size: 3em;
    text-align: center; 
    background-image: url(./images/lab-safety--art.jpeg);
    background-size:550px;
    padding: 100px;
}
h2 {
    padding: 10px;
    margin: 10px;
    text-align: left;
    font-size: 32px;
    font-weight:bold;
    color:lightskyblue;
    text-shadow: 3px 3px 3px #000000;
}
h3 {
    padding: 10px;
    margin: 10px;
    text-align: left;
    font-size: 30px;
    font-weight:bold;
    color: navy;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;
    padding: 10px;
    font-size: 10px;
}
footer a {
    color: grey;
    text-decoration: none;
    font-size: 12px;
    background-color:skyblue;
    padding: 5px;
    border-radius: 4px;
    margin: 5px;
    opacity: 80%;}

footer a:hover {
    color: white;
    background-color: navy;
    opacity: 100%;
}

/* Controls */

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.image-button-larger{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.image-button-larger img {
    width: 500px;
    height: auto;
    object-fit:fill;
    border-radius: 4px;
}

.image-button-larger {
    transition: transform 0.2s; /* Add a smooth hover effect */
}

.image-button-larger:hover img {
    transform: scale(1.1); /* Enlarge the image on hover */
}

/* SDS */

.image-button {
    display: inline-block;
    transition: transform 0.2s; /* Add a smooth hover effect */
}

.image-button img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}
.image-button:hover img {
    transform: scale(1.2); /* Enlarge the image on hover */
}

/* Contact page */
#contact button:hover {
    background-color: cornflowerblue;
    color: white;
}

button {
    padding: 10px;
    margin: 20px;
    border: none;
    background-color: navy;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    width: 80px;
}




